.data-source h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #333;
}

.data-source ul {
    list-style-type: none;
    padding-left: 20px;
}

.data-source ul li {
    margin-bottom: 15px;
}

.data-source a {
    text-decoration: none;
    color: #007bff;
}

.data-source a:hover {
    text-decoration: underline;
}
